rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write for everyone (Note: In a production app, you should use secure authentication)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
